<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessToken</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MjU2ZTkxYzY1MTllYzMzMmJkNjBkMWNmZjkyZDkzMyIsInN1YiI6IjY1NTUzZWY1YjU0MDAyMDExYjdkNTA2MyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.hLOFPkSyQoSDzl3M1hRGZdMQ0LjKMsJIQ1Rs_ZuWg4U</string>
</dict>
</plist>
